.Home {
  text-align: center;
}

.Home-header {
  height: 100px;
  padding: 30px;
}

h1{
  vertical-align: middle;
}

.Home-intro {
  font-size: large;
}

.module-icon {
  display: block;
  margin: 0 auto;
  height: 50vh;
}
